mixin image(url)
	img(src='app/img/#{url}')

doctype 5
html(lang='en')
	head
		meta(charset='UTF-8')
		title Preprocessors
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css')
		link(rel='stylesheet', href='components/reveal.js/css/reveal.min.css')
		link(rel='stylesheet', href='components/highlightjs/styles/tomorrow-night-eighties.css')
		link(rel='stylesheet', href='components/reveal.js/css/theme/solarized.css')
		link(rel='stylesheet', href='app/css/main.css')
	body
		.reveal
			.slides.container-fluid
				block content

		script(src='components/reveal.js/lib/js/head.min.js')
		script(src='components/reveal.js/js/reveal.js')
		script(src='app/js/main.js')
