extends _layout

block content
  section(data-transition='linear')
    section
      h1.
        Sass, Compass<br> et nouvelles<br> méthodologies CSS
    include slides/0
  section
    section
      h4 Entrent alors en jeu
      h2 Les préprocesseurs front-end
      h4 Dum dum dum
    include slides/1
  section
    section
      h3 Sass et Compass
    include slides/2
  section
    section
      h3 Les capacités de Sass et Compass
    include slides/3
  section
    section
      h2 Susy et les grilles
    include slides/4
  section
    section
      h2 L'OOCSS
    include slides/5