section
  h3 Le CSS
  ul
    li.fragment.
      Est le plus récent de la trinité "HTML/CSS/JS"

    li.fragment.
      Est le plus lent à évoluer du fait de mésententes entre les différents
      navigateurs

    li.fragment.
      Est un langage purement déclaratif (sur un seul niveau)

section
  blockquote.
    Tous les ajouts de ces dernières années au CSS se résument à des ajouts
    en terme de possibilités <em>visuelles</em> (ombres, dégradés, filtres, etc.)
    alors qu'une grosse partie du problème se situe dans la syntaxe
    du langage et ses limitations
  p(data-markdown).
    Similairement au PHP, le CSS crée à l'origine pour des styles basiques
    est devenu bien trop simpliste comparé aux exigences et besoins des sites
    énormes crées à l'heure actuelle.